@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>Engineer: @Html.DisplayFor(model => model.Name)</h1>
<h3>Employment Date: @Model.EmploymentDate.ToShortDateString()</h3>


@if (Model.RepairLicenses.Count == 0)
{
  <p>This engineer has not been licensed to repair any machines yet.</p>
}
else
{
  <h3>Machines that engineer is licensed to repair:</h3>
}
<ul>
@foreach (RepairLicense license in Model.RepairLicenses)
{
  <li>@Html.ActionLink(license.Machine.Name, "Details", "Machines", new { id = license.MachineId })</li>

  @using (Html.BeginForm("RemoveMachine", "Engineers"))  
  {
    @Html.Hidden("engineerId", license.EngineerId)
    @Html.Hidden("repairLicenseId", license.RepairLicenseId);
    <input type="submit" value="Remove" class="btn btn-default" />
  }
}
</ul>
<br>
<p>@Html.ActionLink("Add machine license", "AddMachine", new { id = Model.EngineerId })<br>
@Html.ActionLink("Fire engineer", "Delete", new { id = Model.EngineerId })<br>
@Html.ActionLink("Back to engineers", "Index")<br>
@Html.ActionLink("Back to home", "Index", "Home")</p>