@{
  Layout = "_Layout";
}
@using Factory.Models;

<h1>Dr. SillyStringz's Factory</h1>
<p>Here at the factory of Dr. SillyStringz, our expert team of engineers repairs all kinds of wacky machines!</p>
<p>Here is a listing of all of our engineers and machines:</p>

<h2>@Html.ActionLink("Engineers", "Index", "Engineers")</h2>
@if (ViewBag.Engineers.Count == 0)
{
  <p>Oh wait, there are no engineers yet. We'd better hire some!</p>
}
<ul>
@foreach (Engineer engineer in ViewBag.Engineers)
{
  <li>@Html.ActionLink(engineer.Name, "Details", "Engineers")</li>
}
</ul>

<h2>@Html.ActionLink("Machines", "Index", "Machines")</h2>
@if (ViewBag.Machines.Count == 0)
{
  <p>Oh wait, we don't have any machines yet. We'd better install some!</p>
}
<ul>
@foreach (Machine machine in ViewBag.Machines)
{
  <li>@Html.ActionLink(machine.Name, "Details", "Machines")</li>
}
</ul>
<br>
<p>@Html.ActionLink("Hire engineer", "Create", "Engineers")<br>
@Html.ActionLink("Install machine", "Create", "Machines")</p>